/* Navbar.css */

.navbar {
  position: sticky;
  top: 0;
  background: white;
  padding: 14px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  box-shadow: 0 4px 14px rgba(0,0,0,.1);
  z-index: 100;
}

.nav-logo {
  font-weight: 700;
  font-size: 18px;
}

.nav-cart {
  font-size: 18px;
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
}

.nav-cart span {
  background: #1ebe5d;
  color: white;
  border-radius: 999px;
  padding: 2px 7px;
  margin-left: 5px;
  font-size: 11px;
}

.btn-group-nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.admin-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000000;
  border: none;
  margin-top: 8px;
  margin-right: 8px;
}

.admin-btn i {
  font-size: 19.5px;
}

.settings-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000000;
  border: none;
  margin-top: 8px;
  font-size: 19.5px;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-burger {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 9px;
  margin-left: -50px;
}

.group {
  display: flex;
  line-height: 20px;
  align-items: center;
  position: relative;
  max-width: 400px;
}

.input {
  width: 400px;
  height: 40px;
  line-height: 20px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f4f6fb;
  color: #000000;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.396);
  transition: 0.3s ease;
}

.input::placeholder {
  color: #6c6c6d;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(0, 47, 73, 0.192);
  background-color: #fff;
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #6c6c6d;
  width: 1rem;
  height: 1rem;
}
